:root {
    --primary-white: rgb(255, 255, 255);
    --secondary-white: #d1d1d1;
    --primary-black: #222;
    --highlight: rgb(135, 110, 82);
    --dark-text: #343434;
    --primary-white-transparent: rgba(255, 255, 255, 0.7);
}

@font-face {
    font-family: 'La Luxes Serif';
    src: url('../fonts/La_Luxes_Serif.woff2') format('woff2'),
        url('../fonts/La_Luxes_Serif.woff') format('woff'),
        url('../fonts/La_Luxes_Serif.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Montserrat,Raleway,Spectral/Raleway/Raleway-Italic-VariableFont_wght.ttf');
    font-weight: 450;
    font-style: italic;
    font-display: swap;
}

.btn-default {
    border-color: var(--primary-white);
    color: var(--primary-black);
    background-color: var(--primary-white);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: var(--secondary-white);
    color: var(--primary-black);
    background-color: var(--primary-white);
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: var(--primary-white);
    background-color: var(--primary-white);
}

.btn-default .badge {
    color: var(--primary-white);
    background-color: var(--primary-black);
}

.btn-primary {
    border-color: var(--highlight);
    color: var(--primary-white);
    background-color: var(--highlight);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: var(--highlight);
    color: var(--primary-white);
    background-color: var(--primary-black);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: var(--highlight);
    background-color: var(--highlight);
}

.btn-primary .badge {
    color: var(--highlight);
    background-color: var(--primary-white);
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Raleway','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

#invitation-details, #rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 5px 10px;
}

.guest-input {
    width: 67%;
    max-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    font-family: 'La Luxes Serif','Helvetica Neue',Arial,sans-serif;
}

body {
    background: url('../lg_images/engagement-landscape.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway','Helvetica Neue',Arial,sans-serif;
}

#invitation-body {
    background-color: var(--primary-white-transparent);
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer {
    padding-bottom: 30px;
}
