<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Ceremony</h2>
            <hr class="primary">
            <h3>Location: <a href="https://maps.app.goo.gl/rCtzyraCMnpGGLk48" target="_blank">Jordan Pines Campground</a></h3>
            <h3>Getting There and Away</h3>
            <p>
                Jordan Pines Campground is located about 30 minutes from the mouth of Big Cottonwood Canyon, along the beginning of the 
                Donut Falls hiking trail. 
            </p>
            <p>
                There is a large parking lot along Big Cottonwood Canyon road that we recommend you park in. 
            </p>
            <p>
                From there, simply walk along the large trail/small road on the south side (right side when driving up-canyon).
                Jordan Pines Campground is about 1/4 mile up the trail. <strong>We will also have a golf cart shuttle if you prefer not to 
                walk to the campground.</strong>
            </p>
            <h3>Dress Code</h3>
           
            <p>

            </p>
        </div>
    </div>
</div>
