<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">FAQ's</h2>
            <hr class="primary">
            <h3>Children</h3>
            <p>We'd love to have the little ones be a part of our big day.</p>

            <h3>Plus-one's</h3> 
            <p>Unfortunately, due to capacity limits, we can only accomodate guests named on the invitation.</p>
            
            <h3>Food and Drinks</h3> 
            <p>
                {% if ceremony %} Food and non-alcoholic drinks will be provided after the ceremony. {% endif %}
                There will be food and both alcoholic and non-alcoholic drinks provided during the reception.
            </p>
        </div>
    </div>
</div>