<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The upstream-facing view of Lodore canyon the day we got engaged.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                After initially planning to propose after finishing the summer of river-guiding, it was brought 
                to Gavin's attention by friends and family that the upcoming river trip (with his entire family) 
                was a perfect opportunity for a proposal. So, between river trips, he worked out the details
                of the proposal, got London and his best friends on the trip, and enlisted his mom and London's 
                best friend to find and purchase a ring while he was on another river trip (and had no idea what
                said ring looked like).
            </p>
            <p>
                From there, all Gavin had to do was successfully navigate three difficult and consequential rapids 
                with an expensive ring on his boat. Surprisingly, though, the hardest part of the whole process
                was undoing the velcro of the binoculars case that contained the ring box&mdash;without London 
                noticing...which he failed to do. Fortunately, she still said yes.
            </p>
            <p>

            </p>
        </div>
    </div>
</section>
