<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Gavin and London had known each other for a few years before they started spending time together. 
                After rock climbing together for a while and watching London continuously outclimb him, Gavin thought,
                "She's really cool, I should ask her out on a date."
            </p>
            <p>
                Since that decision, London and Gavin have been on countless adventures together&mdash;from canyoneering in Souther Utah, 
                to river rafting in Colorado, to hiking in Hawaii. During all of this looking around for ways to get outside and 
                enjoy what this world has to offer, they found that they had fallen in love and found their forever adventure buddy...and the rest is history.
            </p>
        </div>
    </div>
</div>
